<!DOCTYPE HTML>
<html charset="utf-8">
    <head>
        <title>Index</title>
        <!--<link rel="stylesheet" href="css/style.css" type="text/css">-->
    </head>
    <body>
        

        <script id = "myTemplate" type = "text/x-underscore-template">
            <%= color  %> <%= name %> <button class = "edit">edit</button>
            <button class = "delete">delete</button>
        </script>
    
    <script src="js/underscore.js"></script>
    <script src ="js/jquery.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/app.js""></script>
    </body>
</html>


